@forward './components';
@forward 'bootstrap';

/* make the placeholder keep some space when injected */
.reply-placeholder {
    margin-top: 0.75rem;
}

/* Slide animation handled via max-height in JS; small nicety */
.reply-form {
    overflow: hidden;
}

.custom-card-body {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.lexical__paragraph{
    img{
        width: 100%;
        height: auto;
    }
}

.nav-link{
    font-size: .75rem;
    margin: .5rem;    
}